.question {
  background-color: #fefefe;
  border-radius: 0.5rem;
  box-shadow: 0 2px 12px rgba($color: #000, $alpha: 0.04);
  padding: 1.5rem;
  margin-top: 2rem;

  + .question {
    margin-top: 0.5rem;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;
    }

    .user-info img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    .user-info span {
      margin-left: 0.5em;
      color: #737380;
      font-size: 0.875rem;
    }

    button {
      appearance: none;
      border: 0;
      background-color: transparent;

      &:hover svg,
      &:focus svg {
        fill: #835afd;
      }

      &:hover svg path,
      &:focus svg path {
        stroke: #fff !important;
      }
    }

    button svg,
    button svg path {
      transition: all 200ms ease-out;
    }

    .like-button {
      display: flex;
      align-items: flex-end;
      color: #737380;
      gap: 0.5rem;
    }

    .like-button.--liked {
      color: #835afd;
    }

    .like-button.--liked svg path {
      stroke: #835afd;
    }
  }
}
